[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
numpy = "*"
pytest-mock = "*"
pandas = "*"
atomicwrites = "*"

[dev-packages]

[requires]
python_version = "3.9"
